body {
    margin: 0;
    background: #242323; 
    color: white;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}
header {
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 1vw 2vw;              
    background-color: rgba(0, 0, 0, 0.425);
    height: 0.5vw;      
}
.menu-horizontal b {
    margin-left: 2vw;               
    cursor: pointer;
  }